.profile {
  position: relative;
  overflow: hidden;
}

.left {
  float: left;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.right {
  float: right;
  width: 40%;
}

.zig {
  max-width: 80%;
  margin-top: 10%;
}

.personalImage {
  display: block;
  width: 100%;
  float: right;
  top: 5px;
  margin: 0 0 -4px 0;
  padding: 0;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 4vw;
  z-index: 999;
  padding: 0 1%;
}

h2 {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  background: #4a84ff;
  float: right;
  padding: 15px;
  margin: 0 0 8px 0;
  font-size: 1em;
  text-align: right;
  width: 120%;
}