@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-size: 100%;
  background: -webkit-linear-gradient(#eeaba9, #4a84ff);
  background: -o-linear-gradient(#eeaba9, #4a84ff);
  background: -moz-linear-gradient(#eeaba9, #4a84ff);
  background: linear-gradient(#eeaba9, #FDF485, #4a84ff);
}

body {
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 0;
}